<!DOCTYPE html>
<html>
    <head>
        <style>
          td {
            padding: 3px;
          }
          </style>
      </head>
<body>  
    <center><div id='container'>
        <div>
            <form>
                <table>
                    <tr>
                        <td>
                            <label for="amazonURL">Error:</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="50" value={{url_val}}>{{url_val}}</textarea>
                        </td>
                    </tr>
                </table>    
            </form> 
        </div>
    </div>
</center> 
      
</body>
</html>