<!DOCTYPE html>
<html>
    <head>
        <style>
          td {
            padding: 3px;
          }
          </style>
      </head>
<body>  
    <center><div id='container'>
        <div>
            <form>
                <table>
                    <tr>
                        <td>
                            <label for="amazonURL">Affiliated URL</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="affiliateURL" name="Affiliate_URL" value={{url_val}}>
                        </td>
                    </tr>
                </table>    
            </form> 
        </div>
    </div>
</center> 
      
</body>
</html>